.footerText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.contentHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #0070C0;
}
.documentContent {font-family: Arial, Helvetica, sans-serif; font-size: 16px; }

a:link {
	color: #15C;
	text-decoration: none;
}
a:visited {
	color: #15C;
	text-decoration: none;
}
a:hover {
	color: #9B2D2D;
	text-decoration: underline;
}

a.menuLink:link {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 16px;
	color: #9B2D2D;
	text-decoration: none;
}
a.menuLink:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 16px;
	color: #9B2D2D;
	text-decoration: none;
}
a.menuLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 16px;
	color: red;
	text-decoration: none;
}
.menuDisabled {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 16px;
	color: #666666;
}

.headerSlot {
	width: 100%;
	border-bottom: 1px SOLID #CBCBCB;
	padding-bottom: 5px;
}

.footerSlot {
	min-height: 45px;
	width: 100%;
	border-top: 1px SOLID #CBCBCB;
	background-color: #F8F8F8;
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.headerMenuDiv {
}

.headerMenuDiv ul {
	list-style-type: none;
	margin: auto;
	padding: 0px;
	padding-left: 4px;
}
.headerMenuDiv li {
	float: left;
	padding-right: 20px;
}

a img{
border:0;
}

.projectBox {
	border: 1px SOLID #5898D5;
	outline: none;
	padding: 10px;
	
	moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.projectBox:hover {
	border: 1px SOLID #5898D5;
	outline: none;
	padding: 10px;
	background-color: #D5FFD5;
	
	moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.projectName {
	font-size: 24px;
}

.introText {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 18px;
	font-weight: normal;
}

.zeroMargin {
	min-height: 100%;
	margin: 0;
	position: relative;
}

html {
	height: 100%
}

.mainContent {
	width: 100%;
	position: relative;
	padding: 0 0 75px;
}

.myWork, .myResume, .contactMe {
	font-size: 14px;
	text-indent: 36px;
	line-height: 45px;
	background: url(my_work.png) no-repeat;
	text-indent: 35px;
	display: inline-block;
}

.myWork, .myResume, .contactMe {
	background: url(my_work.png) no-repeat;
	font-size: 14px;
	line-height: 32px;
	text-indent: 35px;
	display: inline-block;
	margin-right: 20px;
}

.myResume {
	background: url(my_resume.png) no-repeat;
}

.contactMe {
	background: url(contact_me.png) no-repeat;
}

.products-section h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	border-bottom: 1px solid #EBEBEB;
	clear: left;
	margin-bottom: 0;
	padding-bottom: 0;
}

.products-section {
	width: 970px;
}

.products-section ul {
	display: inline-block;
	list-style: none;
	margin: 0 0 16px;
	padding: 0;
	width: 100%;
}

.products-section li {
	display: inline;
	float: left;
	position: relative;
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	margin: 13px 0 8px;
}

.projectHeading {
	font-weight: bold;
}

.products-section img {
	float: left;
	padding: 0 1em 0 0;
	margin: 5px 0 0;
	width: 32px;
	height: 32px;
}

.products-section li p {
	color: #444;
	margin: 0 2em 0 0;
	font-size: 14px;
}